.body {
margin: 0;padding: 0;
display: flex 0 0 0;
justify-content: center;
}

.container {
  width: 600px;
  height: 600px;
  margin-left: 40px;
  margin-top: 40px;
  padding: 2px;
  margin: 0px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:0;
}

.game {
  float: right;
  box-sizing: content-box;
  display: grid;
  height: 49vw;
  width: 49vw;
}

.cell {
    border: 1px solid gray;
    min-width: 5px;
    min-height: 8px;
    display: inline-block;
  }

  .change {
    background-color: aqua;
  }

  .reset {
    align-self: flex-start;

  }