.body {
text-align: center;
background-color: aquamarine;
}

#container {
  display: grid;
  border: 3px solid black;
  margin: 0 auto;
  max-width: 650px;
  max-height: 600px;
}

#options {
  margin-top: 15px;
}

.reset {
  width: 100px;
  height: 30px;
  color: aqua;
  background-color: black;
}